#logo {
	display: block;
	width: 30%;
	margin: auto;
	padding: 30px;
}

#search_div {
	flex-direction: row-reverse;
	align-items: center;
	padding-bottom: 20px;
}

#search_input {
	width: 100%;
	font-size: 1.2em;
}

/* Classes */
.page_width {
	display: flex;
	max-width: 500px;
	margin: auto;
/*	border: 1px solid black; */
}

.result {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 1em;
	background-color: #a1d1ca;
}

.left_col {
	min-width: 80px;
	padding-left: 10px;
	font-weight: 700;
	color: gray;
}

.icon {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
}

.top_margin {
	padding-top: 10px;
}

.matches {
	font-weight: 500;
	font-size: 0.8em;
	background-color: white;
	margin-bottom: 10px;
}